html, body {
  margin: 0;
  height: 100%;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

svg rect {
  font: 10px sans-serif;
  fill: steelblue;
  padding: 3px;
  margin: 1px;
}